@model IEnumerable<Demo1.Models.ApplicationUser>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "School Admin";
}

<div class="row">
    <div class="col-md-12">
        <div>
            <h3>@ViewBag.Message</h3>
        </div>
        <div>
            <h2>ManageEditors</h2>


            <table class="table">
                <tr>
                    <th>
                        S.No.
                    </th>
                    <th>
                        Email
                    </th>
                    @*<th>
                        EmailConfirmed
                    </th>*@

                    <th>
                        FirstName
                    </th>
                    <th>
                        LastName
                    </th>
                    <th>
                        Mobile
                    </th>
                    <th></th>
                </tr>
                @{ int sno = 1;
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @(sno++)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.EmailConfirmed)
                            </td>*@

                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Mobile)
                            </td>
                            <td>
                                @Html.ActionLink("Change Password", "ChangePassword", new { id = item.Id })
                                @Html.ActionLink("Edit", "EditUser", new { email = item.Email })
                                @*@Html.ActionLink("Delete", "DeleteUser", new { id = item.Id })*@
                            </td>
                        </tr>
                    }
                }
            </table>


        </div>
    </div>

</div>